.logincard{
    margin-top: 33%;
    box-shadow: 5px 5px  green;
    border: 2px solid grey;
}
.login-img
{
    height: 100vh;
    width: 100%;
    left: 4%;
}
.reg-img
{
    height: 100vh;
    width: 102%;
}

.signupcard{
    margin-top: 10%;
    box-shadow: 5px 5px  green;
    border: 2px solid grey;
}

@media only screen and (max-width: 800px) {
    
    .logincard{
        margin: 4%;
        box-shadow: 3px 3px  green;
        border: 2px solid grey;
    }
    .login-img
    {
        height: 50vh;
        width: 100%;
    }
    .reg-img
    {
        display: none;

    }
    
    .logincard{
        margin: 4%;
        box-shadow: 3px 3px  green;
        border: 2px solid grey;
    }
}
  