.image{
    height: 200px;
    width: 200px;
}
.profile-img{
    height: 200px;
    width: 200px;
    border: 2px solid red;
    border-radius: 20%;
}

@media only screen and (max-width: 800px) {
    
    .image{
        height: 200px;
        width: 200px;
    }
   
}
  